* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.header {
  width: 100%;
  padding: 20px 60px;
  background: linear-gradient(180deg, black, black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}


.nav {
  display: flex;
  gap: 35px;
}

.nav a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 16px;
  transition: 0.3s;
}

.nav a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #00FFFF;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-hire {
  background: #00FFFF;
  color: black;
  padding: 10px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}


.btn-hire:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #00FFFF;
}

.btn-icon {
  background: #00FFFF;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.btn-icon svg {
  width: 18px;
  height: 18px;
}

.btn-icon:hover {
  transform: scale(1.1);
}